* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #f0f2f9;
  --grey: #6c7278;
  --grey-focused: #5b5b5b;
  --red: #e42a2a;
  --red-hovered: #c12020;
  --black: #1a1c1e;
  --white: #ffffff;
  --light-gray: #acb5bb;
  --background-modal: rgba(0, 0, 0, 0.349);
}

body {
  background: var(--background);
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
